* {
    margin: 0;
}

.wrapper {
    background-color: #A8A8A8;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

.wrapper > .post {
    margin: 5px 5px;
    float: left;
}

.wrapper > .post > .comments {
    margin: 10px 0 0 0;
}

.wrapper > .post > .input-group {

}

