* {
    margin: 0;
}

.wrapper {
    margin-top: 0;
    background-color: #A8A8A8;
    margin: auto;
    position: relative;
    width: 960px;
}


.wrapper > div  {
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;  
    height: 234px;
    width: 950px;
    display: block;
    background-color: #00A5FF;
    float: left;
}

.wrapper input {
    display: block;   
}

