* {
    margin: 0;
}

.wrapper {
    margin-top: 0;
    background-color: #A8A8A8;
    margin: auto;
    position: relative;
    width: 960px;
}


.wrapper > .post  {
    margin: 5px 5px;
    float: left;
}

.wrapper > .post > .input-group {
    margin-top: 10px;
}

