* {
    margin: 0;
    box-sizing: border-box;
}

div {
    background-color: #A8A8A8;
    margin: auto;
}

div > div {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
    width: 950px;
    background-color: #00A5FF;
}
