<div>
    <img src={{url}}>
    {{#if comments}}
        <ul>
        {{#each comments}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/if}} 
    <input class="form-control" type="text name="comment">
</div>
    
